# IDE
.idea/
*.iml

# Gradle
.gradle/
build/

# Local config
local.properties

# Logs
*.log

# Java
*.class

# Package files
*.jar
*.war
*.nar
*.ear

# Keystore
*.jks
*.keystore

# OS files
.DS_Store
Thumbs.db

# NDK
.externalNativeBuild/
.cxx/